.title {
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
}
.listItem {
  font-size: 12px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.65);
  &:last-child {
    margin-bottom: 0;
  }
}

.listItemImage {
  background-color: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 1.875rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  padding: 0.25rem;
  width: 3.75rem;
}

.footer-vn {
  &-vn_registered_red-png {
    background-position: 14.391143911439114% 99.41176470588235%;
    background-size: 551.6666666666666% 477.77777777777777%;
  }
  &-background {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9765d68a8945750d.png);
  }
}
